* {
  margin: 0px;
  padding: 0px;
  color: rgb(245, 248, 255);
}
body {
  max-width: 1280px;
  align-items: center;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  padding: 0%;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list a {
  text-decoration: none;
  color: rgb(162, 160, 160);
  padding-left: 40px;
  font-size: 18px;
  font-family: Inter;
}

.nav-list :first-child {
  font-weight: bold;
}

.nav-list :first-child,
:last-child {
  color: black;
}

.nlist-div {
  display: flex;
  color: rgb(137, 135, 161);
}

.para {
  justify-content: center;
}

.banner {
  display: flex;
  padding: 100px 0px;
}
.para {
  display: flex;
  flex-direction: column;
}
.banner-1para {
  font-weight: bolder;
  font-size: 60px;
  font-family: Noto Serif;
}

.banner-2para {
  font-size: 25px;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);
}

.banner-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner2-1para {
  font-weight: bolder;
  font-size: 60px;
  font-family: Noto Serif;
}
.banner2-2para {
  font-size: 25px;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.Cart-section{
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 20px;
padding: 50px 0px;

}



.Cart{

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}




.Cart-name{
  font-family: Inter;
  font-size: 22px;
  color: rgb(17, 17, 17);
  text-align: center;
}



.item-price{
    font-family: Inter;
  font-size: 22px;
  color: rgb(17, 17, 17);
  text-align: center;
}


.Cart button{
color: white;
height: 30px;
background-color: chocolate;
text-align: center;
box-sizing: border-box;
border-style: none;
}