* {
  margin: 0px;
  padding: 0px;
  color: rgb(245, 248, 255);
}
.aling {
  max-width: 1280px;
  align-items: center;
  margin: auto;
}

nav {
  max-width: 1280px;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  padding: 0%;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list a {
  text-decoration: none;
  color: rgb(162, 160, 160);
  padding-left: 40px;
  font-size: 18px;
  font-family: Inter;
}

.nav-list :first-child {
  font-weight: bold;
}

.nav-list :first-child,
:last-child {
  color: black;
}
.nlist-div {
  display: flex;
  color: rgb(137, 135, 161);
}

.para {
  justify-content: center;
}

/* hiro section */

.banner {
  display: flex;
  padding: 100px 0px;
}
.para {
  display: flex;
  flex-direction: column;
}
.banner-1para {
  font-weight: bolder;
  font-size: 60px;
  font-family: Noto Serif;
}

.banner-2para {
  font-size: 25px;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);
}

/* banner 2 section */

.banner-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.banner2-1para {
  font-weight: bolder;
  font-size: 60px;
  font-family: Noto Serif;
}
.banner2-2para {
  font-size: 25px;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* cart section */

.Cart-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 50px 0px;
}

.Cart {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Cart-name {
  font-family: Inter;
  font-size: 22px;
  color: rgb(17, 17, 17);
  text-align: center;
}

.item-price {
  font-family: Inter;
  font-size: 22px;
  color: rgb(17, 17, 17);
  text-align: center;
}

.Cart button {
  color: white;
  height: 50px;
  background-color: chocolate;
  text-align: center;
  box-sizing: border-box;
  border-style: none;
}

/* banner 3 section */

.banner-3 {
  display: flex;
  padding: 100px 0px;
}
.banner3-img {
  display: flex;
}

.banner3-img1 {
  z-index: 1;
}

.banner3-img2 {
  height: 300px;
  width: 300px;
  margin-top: -130px;
  margin-left: -180px;
  align-items: center;
  justify-content: center;
}

.banner3-para {
  gap: 30px;
}

.banner3-para p {
  font-size: 80px;
  font-weight: bolder;
  color: #000;
}

.banner3-para ul {
  padding: 10px 45px;
}

.banner3-para ul li {
  color: #000;
  font-size: 25px;
  padding-top: 20px;
}

/* banner 4 section */

.banner-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.banner4-1para {
  font-weight: bolder;
  font-size: 60px;
  font-family: Noto Serif;
}
.banner4-2para {
  font-size: 25px;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* banner 5 section */

.banner-5 {
  display: flex;
  gap: 20px;
  padding: 100px 0px;
}

.banner-5 a {
  color: white;
}

.banner5-2imag {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner5-1card {
  text-align: center;
  background-repeat: no-repeat;
  font-size: 30px;
  color: white;
  padding: 60px;
  border-radius: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/deal-bloom.png);
  background-size: 500px;
}

.banner5-1card p {
  padding-bottom: 20px;
}

.banner5-2card {
  text-align: center;
  font-size: 30px;
  padding: 60px;
  border-radius: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: 500px;
}

.banner5-2card p {
  padding-bottom: 20px;
}

.banner5-3card {
  align-items: end;
  justify-content: end;
  text-align: center;
  font-size: 50px;
  padding: 200px 210px 20px 210px;
  border-radius: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: 1000px;
}

/* banner 6/last section */

.last-banner {
  background-image: url(/assets/news-letter-bg.png);
  padding: 100px;
}

.last-banner p {
  font-size: 80px;
  text-align: center;
  padding: 20px;
}
.last-banner-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-banner-input input {
  size: 50px;
  padding: 20px 600px 20px 10px;
}

.last-banner-input button {
  padding: 20px 40px;
  background: rgb(233, 90, 8);
  border-style: none;
  color: white;
}

/* footer section */

footer {
  max-width: 1280px;
  padding-top: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
}

footer ul li a {
  gap: 20px;
}

.footer-pages a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.footer-pages ul li {
  list-style: none;
  padding: 10px;
  font-family: Inter;
}

.footer-polici a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.footer-polici ul li {
  list-style: none;
  padding: 10px;
  font-family: Inter;
}

.footer-icon a {
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .nav-list a {
    visibility: hidden;
  }

  .cart-icon a {
    visibility: visible;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner-1para {
  font-weight: bolder;
  font-size: 40px;
  padding-bottom: 10px;
}

.banner-2para {
  font-size: 20px;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);
}

.banner-2 {
  padding: 20px;
}

.banner2-1para {
  font-weight: bolder;
  font-size: 40px;
  padding-bottom: 10px;
}
.banner2-2para {
  font-size: 15px;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

  .Cart-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .Cart {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}















.banner3-para p {
  font-size: 40px;
  padding-top: 50px;
}

.banner3-para ul {
padding: 10px 40px;
}

.banner3-para ul li {
  color: #000;
  font-size: 25px;
  padding-top: 20px;
}























  .banner-3 {
    display: flex;
    flex-direction: column;
  }

  .banner3-img1 {
    visibility: hidden;
  }




.banner-4 {
  padding: 10px;
}



.banner4-1para {
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 10px;
}
.banner4-2para {
  font-size: 15px;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}






  .banner-5 {
    flex-direction: column;
    padding: 20px;
  }





    .banner5-1card{
      background-size: 900px;
    }
    .banner5-2card{
      background-size: 900px;
    }











  .banner5-3card {
    text-align: center;
    font-size: 30px;
    padding: 60px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: 900px;
  }





  .banner5-3card p {
    padding-bottom: 20px;
  }








.last-banner {
  background-image: url(/assets/news-letter-bg.png);
  padding: 100px;
}

.last-banner p {
  font-size: 40px;
}

.last-banner-input {

}

.last-banner-input input {
size: px;
padding: 20px;
}

.last-banner-input button {
  padding: 21px 30px;
  background: rgb(233, 90, 8);
  border-style: none;
  color: white;
}








  footer {
    flex-direction: column;
    align-items: start;

  }


}
